﻿@*@model Vidly2.Models.Customer*@
@*@model Vidly2.ViewModels.RandomMovieViewModel*@
@model IEnumerable<Vidly2.Models.Customer>

@{
                /**/

                ViewBag.Title = "Customers";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })
</p>

<table id="customers" class="table table-bordered table-hover ">
    <thead>
        <tr class="info">
            <th>Customers</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customer/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}


@*@Model.Name*@
@*@if (Model.Customers.Count == 0)
    {
        <text>We don't have any customers yet.</text>
    }
    else
    {
        <table class="table table-striped table-hover ">
            <thead>
                <tr class="info">
                    <th>Customers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@Html.ActionLink(@customer.Name, "Details", "Customer", new { id = @customer.ID }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    }*@